  <app-navbar></app-navbar>
  <main class="absolute top-0">
    <div class="flex-col flex lg:flex-row">
      <div class="w-full lg:w-3/5 lg:h-[480px] ">
        <img class="w-full h-full object-cover" src="{{this.articles[this.index].imgSrc}}" alt="a beautiful table with chairs" [ngClass]="{'animate-cover': isSliderBtnClicked == true}">
      </div>
      <div class="w-full px-12 py-14 lg:w-[500px] lg:py-24 lg:px-20 relative shrink-0">
        <h1 class="text-4xl font-extrabold" [ngClass]="{'animate-drop': isSliderBtnClicked == true}">{{this.articles[this.index].title}}</h1>
        <p class="text-darkGray my-3 text-sm" [ngClass]="{'animate-drop': isSliderBtnClicked == true}">{{this.articles[this.index].content}}</p>
        <button class="uppercase tracking-[0.75rem] flex gap-4 items-center hover:text-darkGray transition ease-in-out duration-300  group" [ngClass]="{'animate-drop': isSliderBtnClicked == true}">
          <span>Shop now</span>
          <svg width="40" height="12" xmlns="http://www.w3.org/2000/svg"><path d="M34.05 0l5.481 5.527h.008v.008L40 6l-.461.465v.063l-.062-.001L34.049 12l-.662-.668 4.765-4.805H0v-1h38.206l-4.82-4.86L34.05 0z" class="group-hover:fill-darkGray" fill="#000" fill-rule="nonzero"/></svg>
        </button>
        <div class="absolute right-0 -top-16 sm:right-0 sm:-top-20 lg:right-auto lg:top-auto lg:bottom-0 lg:left-0 flex">
          <button aria-label="previous" class="bg-black w-16 h-16  sm:w-20 sm:h-20 flex justify-center items-center px-5 hover:bg-veryDarkGray transition ease-in-out duration-500" (click)="onPreviousBtnClick()">
            <svg width="14" height="24" xmlns="http://www.w3.org/2000/svg"><path d="M13 0L1 12l12 12" stroke="#FFF" fill="none" fill-rule="evenodd"/></svg>
          </button>
          <button aria-label="next" class="bg-black w-16 h-16 sm:w-20 sm:h-20 flex justify-center items-center px-5 hover:bg-veryDarkGray transition ease-in-out duration-500" (click)="onNextBtnClick()">
            <svg width="14" height="24" xmlns="http://www.w3.org/2000/svg"><path d="M1 0l12 12L1 24" stroke="#FFF" fill="none" fill-rule="evenodd"/></svg>
          </button>
        </div>
      </div>
    </div>
    <div class="flex-col flex lg:flex-row lg:h-[270px]">
      <div class="lg:grow">
        <img src="../assets/image-about-dark.jpg" alt="a room with dark background" class="w-full h-full object-cover">
      </div>
      <div class="w-full lg:w-[450px] px-12 py-14 shrink-0">
        <h2 class="uppercase font-bold text-base tracking-[0.4rem]">About our furniture</h2>
        <p class="text-darkGray my-3 text-sm">Our multifunctional collection blends design and function to suit your individual taste.
          Make each room unique, or pick a cohesive theme that best express your interests and what
          inspires you. Find the furniture pieces you need, from traditional to contemporary styles
          or anything in between. Product specialists are available to help you create your dream space.</p>
      </div>
      <div class="lg:grow">
        <img src="../assets/image-about-light.jpg" alt="a chair with light background" class="w-full h-full object-cover">
      </div>
    </div>
  </main>